* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #e08766;
	background-image: url('../images/main_bg.jpg');
}

.container {
	width: 90%;
	max-width: 1880px;
	margin: 0 auto;
}

.border {
	position: relative;
}

.border::before {
	content: '';
	display: block;
	height: 2px;
	background-image: linear-gradient(to right, #a56249 0%, #a56249 50%, transparent 50%, transparent 100%);
	background-size: 12px 2px;
	
}

.border::after {
	content: '';
	display: block;
	height: 2px;
	background-image: linear-gradient(to right, #e4a086 0%, #e4a086 50%, transparent 50%, transparent 100%);
	background-size: 12px 2px;
}

.border_top {
	margin-top: 22px;
}

header {
	text-align: center;
	padding: 80px 0;
}

h1 {
	font-size: 180px;
	color: #3a3a3a;
	font-family: 'bazar', sans-serif;
	line-height: 180px;
	text-shadow: 2px 2px 0 #fff, 6px 6px 0 #3a3a3a;
	margin-bottom: 20px;
}

.separator {
	display: inline-block;
	font-size: 44px;
	color: #3a3a3a;
	font-family: 'Roboto Slab', serif;
	padding: 0 16px;
	position: relative;
}

.separator::before, .separator::after {
	content:'';
	display: block;
	height: 4px;
	width: 80px;
	background-color: #3b3b3b;
	position: absolute;
	top:50%;
}

.separator::before {
	left: -80px;
}

.separator::after {
	right: -80px;
}

.subtitle {
	font-size: 32px;
	color:#38353e;
	font-family: Oswald, sans-serif;
}

.tags_list {
	display: flex;
	list-style: none;
	margin-bottom: 34px;
}

.tags_list li {
	font-size: 32px;
	color:#383a3c;
	font-family: 'Roboto Slab';
	margin-right: 44px;
}

.tags_list li:last-child {
	margin-right: 0;
}

.tags_list li a {
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	display: inline-block;
	height: 48px;
	padding: 0 18px 0 26px;
	line-height: 52px;
	font-size: 24px;
	border-radius: 0 5px 5px 0;
	box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	background-color: #fbfaf6;
	color: #383a3c; 
}

.tags_list li a::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-right: 24px solid #fbfaf6;
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
	position: absolute;
	left: -24px;
	top: 0;
}

.tags_list li a::after {
	content:'';
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #959ca3;
	position: absolute;
	left: 0;
	top: 22px;
}

.portfolio_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.block {
	width: 440px;
	height: 440px;
	background-color: #fbfaf6;
	border-radius: 5px;
	padding: 8px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
	text-align: center;
	margin-bottom: 40px; 
}

.img {
	height: 320px;
	background-color: #e3dfd7;
}

.block_footer {
	position: relative;
	padding-top: 60px;
}

.blocck_icon {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	top: -24px;
	margin-left: -45px;
	background-color: #fbfaf6;
	font-size: 36px;
	color: #828c8e;
}

.block h3 {
	position: relative;
	z-index: 1;
	font-size: 24px;
	font-family: 'Roboto Slab';
	font-weight: 800;
	color: #383a3c;

}

/* =====Позиционируем иконки====== */

