@import 'reset';

body {
	font-size: 16px;
	color: #3c3c3c;
	font-family: Lato, sans-serif;
}

.main-page {
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.inner {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 550px;
}

.title {
	position: relative;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 5.44px;
	text-transform: uppercase;
	margin-bottom: 65px;
}

.text {
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	color: #3c3c3c;
}

.promo-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33%;
	min-height: 320px;
}

.promo {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 723px;
	padding: 14.4% 0 6%;
	background: url(../img/hero-bg.jpg) right  top / cover no-repeat;
	&__logo {
		margin-bottom: 12.8%;
	}	
	&__title {
		text-align: center;
		font-size: 54px;
		font-weight: 700;
		letter-spacing: 8.64px;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 5.3%;
	}
	&__descr {
		width: 100%;
		max-width: 580px;
		font-size: 15px;
		line-height: 1.93;
		letter-spacing: 0.96px;
		margin: 0px auto 38.3%;
		text-align: center;
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
	}
	&__scroll {
		position: relative;
		margin: 0 auto;
		width: 23px;
		height: 37px;
		border: 2px solid #fff;
		border-radius: 10px;
	}
	&__scroll::before {
		content: "";
		position: absolute;
		left: 7px;
		top: 5px;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #fff;
	}
}

/* =====Секция About us=====*/

.container-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.decor {
	width: 100%;
	border: 2px solid #000;
}

.about {
	&__decor {
		margin: 160px 0 160px;
	}
	&__title {
		position: relative;
		top: -23px;
		margin-bottom: 5.5%;
		padding: 0 102px;
		background-color: #fff;;
	}
	&__text {
		letter-spacing: 0.4px;
		line-height: 1.5;
		text-align: center;
	}
}

.about__inner {
	padding: 0 0 28px;
}

.about__text--top {
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 4.5%;
}

.about__text--bottom {
	width: 88%;
	margin: 0 auto;
}

	/*=====Секция Services=====*/

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: url('../img/services.jpg') top right/cover no-repeat;
	&__title {
		// position: relative;
		color: #fff;
		top: -24px;
		margin-bottom: 4%;
	}
	&__text {
		color: #fff;
		line-height: 1.62;
		margin-bottom: 6%;
	}
	&__decor {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		margin: 130px 0 110px;
		border-color: #fff;
		border-top: none;
	}
	&__inner {
		width: 60%;
	}
}

.services__decor::before {
	content: "";
	position: absolute;
	left: 0%;
	display: block;
	width: 28%;
	height: 2px;
	background-color: #fff;
}

.services__decor::after {
	content: "";
	position: absolute;
	left: 72.2%;
	display: block;
	width: 28%;
	height: 2px;
	background-color: #fff;	
}

	/*=====Секция What we do=====*/

.skills {
	width: 100%;
	&__subtitle {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 3.2px;
		color: #3c3c3c;
		text-transform: uppercase;
		margin-bottom: 5.5%;
		text-align: center;
	}
	&__text {
		font-size: 14px;
		line-height: 1.85;
		margin-bottom: 19%;
		letter-spacing: .1px
	}
	&__decor {
		margin: 12.5% 0 10.5%;
	}
	&__title {
		top: -23px;
		margin-bottom: 16%;
		background-color: #FFF;
		padding: 0 12%;
	}
	&__list {
		width: 100%;
	}
}

.list__item {
	.pen {
		padding-left: 42.5%;
		margin-bottom: -7%;
	}
	.code {
		padding-left: 42.5%;
		margin-bottom: -8%;
	}
	.list {
		padding-left: 42.5%;
		margin-bottom: -7%;
	}
}

	/*=====Секция Topics=====*/

.topics__pic-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.topics__pic {
	position: relative;
	height: 100%;
	margin-bottom: 10px;
}

.pic {
	width: 28.64%;
	max-width: 550px
}

.pic-big {
	min-width: 500px;
	width: 41.67%;
	max-width:799px
}

.pic__item,
.pic__item--big {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.topics__title {
	position: absolute;
	left: 5%;
	bottom: 10%;
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 5.44px;
	color: #ffffff;
	text-transform: uppercase;
}

.contact {
	&__link {
		display: inline-block;
		width: 395px;
		height: 58px;
		background-color:#3c3c3c;
		font-size: 16px;
		letter-spacing: 2.56px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		line-height: 58px;
		margin-bottom: 40px;
		transition: all .2s ease;
	}
	&__text {
		margin-bottom: 7%;
	}
	&__decor {
		margin: 138px 0 0;
	}
	&__title {
		font-size: 30px;
		top: -20px;
		background-color: #fff;
		padding: 0 16%;
		margin-bottom: 5%;
	}
}

.contact__link:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
	-23px 0 20px -23px rgba(0, 0, 0, .8),
	23px 0 20px -23px rgba(0, 0, 0, .8),
	0 0 40px rgba(0, 0, 0, .1) inset;
	color: #3c3c3c;
	font-weight: 700;
	background-color: #fff;
	transform: translateY(-2px);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 165px;
	font-size: 14px;
}

.copy {
	&__link {
	text-decoration: none;
	font-weight: 700;
	color: #3c3c3c;
	}
	&__logo-link {
		margin-right: 20px;
	}
}

.copy:hover {
	transform:translateY(1px);
}

.copy__link:hover {
	color: red;
}

	/*=====Медиа запросы=====*/

	@media screen and (max-width: 1810px) {
		.promo {
			&__title {
				font-size: 48px;
			}
			&__descr {
				font-size: 14px;
			}
		}
	}

	@media screen and (max-width: 1380px) {
		.pic__item--big {
			width: 50%;
		}
	}

	@media screen and (max-width: 1100px) {
		.topics__pic {
			width: 33.333%;
		}
	}

	@media screen and (max-width: 1095px) {
		.promo {
			&__title {
				font-size: 40px;
			}
			&__descr {
				font-size: 14px;
			}
		}
		.topics__title {
			font-size: 26px;
		}
		.pic, .pic-big {
			width: 33.333%;
		}
	}

	@media screen and (max-width: 975px) {
		.promo {
			&__title {
				font-size: 32px;
			}
			&__descr {
				font-size: 14px;
			}
			.logo {
				width: 70%;
			}
		}
	}

	@media screen and (max-width: 920px) {
		.container {
			width: 960px;
		}
		.promo-flex {
			width: 50%;
		}
	}

	@media screen and (max-width: 991px) {
		.container {
			width: 720px;
		}
	}

	@media screen and (max-width: 588px) {
		.container {
			width: 540px;
		}
		.promo-flex {
			width: 70%;
		}
	}
