* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 90%;
	min-width: 1170px;
	margin: 0 auto;
	margin-top: 50px;
}

body {
	font-size: 20px;
}

.row {
	position: relative;
	width: 600px;
	height: 60px;
	background-color: #eee;
}

.text {

}

.low_text {
	font-size: 16px;
}

input {
	width: 20px;
	height: 20px;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
}

label {
	display: inline-block;
	width: 600px;
	height: 60px;
	background-color: #eee;
}

span {
	vertical-align: 3px;
}