* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	font-family: Raleway, sans-serif;
	font-size: 17px;
	color: #262626;
	background-color: #F9F8FD;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.first-screen {
	background-color: #F9F8FD;
	background: url(../images/main-bg.jpg)right 202px bottom / auto 100% no-repeat;
	padding-bottom: 69px;
}

img {
	vertical-align: top;
}

.container {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}

.container__header {
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

.first-screen__header {
	position: fixed;
	width: 100%;
	height: 150px;
	background-color: rgba(249, 248, 251, 0.48);
	z-index: 1;
}

.first-screen__title {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 13px;
}

.menu__list {
	display: flex;
	justify-content: space-between;
}

.menu__item {
	display: inline-block;
	margin-left: 35px;
}

.menu__link {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #262626;
	border-top: 3px solid transparent;
	padding: 7px 1px;
	transition: all .2s ease;
}

.menu__link:hover,
.menu__link:focus {
	border-color: #ff6033;
}

.descr {
	font-size: 17px;
	font-weight: 300;
	line-height: 1.59;
	text-align: center;
}

.first-screen__descr {
	margin-bottom: 27px;
}

.first-screen__inner {
	width: 370px;
	margin-bottom: 295px;
	padding-top: 350px;
}

.btn {
	width: 200px;
	height: 55px;
	box-shadow: 0px 2px 5px 0 #00000080;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	font-family: Raleway;
	font-weight: 300;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all .3s ease;
}

.btn:hover {
	transform: scale(1.1);
}

.btn-orange {
	background-color: #ff6033;
}

.btn-orange:hover {
	background-color: #d44e28;
}

.scroll {
	position: relative;
	margin: 0 auto;
	width: 24px;
	height: 40px;
	border: 3px solid #2d2d2d;
	border-radius: 12px;
}

.scroll::before {
	position: absolute;
	content: '';
	display: block;
	left: 7px;
	top: 3px;
	width: 4px;
	height: 11px;
	border-radius: 3px;
	background-color: #2d2d2d
}

/* =====Секция About Us===== */

.about {
	background-color: #00B9B9;
}

.about__wrap {
	padding-top: 34px;
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 90px;
	font-weight: 700;
}

.about__title {
	color: #fff;
	margin-bottom: 7px;
}

.about__item-img {
	margin-left: -52px;
	padding-bottom: 22px;
}

.about__text {
	margin-left: 73px;
	margin-right: -2px;
	padding-top: 127px;
}

.about__text--paragraph {
	font-size: 17px;
	font-weight: 300;
	line-height: 27px;
	color: #fff;
	margin-bottom: 10px;
}

/* =====Конец секции About Us===== */

/* =====Секция Our services===== */

.services {
	padding: 100px 0 131px;
	background-color: #70bfff;
}

.container.services-image {
	width: 100%;
	background: url(../images/imagesOurServices/tomato-pic.png) top right 100px no-repeat;
}

.services-wrap {
	display: flex;
	justify-content: space-between;
}

.services-list {
	margin-top: 79px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 400px;

}

.flex-title {
	width: 63%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services-list__item {
	position: relative;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0px 4px 10px 0 #00000080;
	border: 2px solid transparent;
	transition: all .2s ease;
}

.services-list__item:hover {
	background-color: #64AFFF;
	border-color: #fff;
	transform: translateY(-3px);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
	-23px 0 20px -23px rgba(0, 0, 0, .8),
	23px 0 20px -23px rgba(0, 0, 0, .8),
	0 0 40px rgba(0, 0, 0, .1) inset; 
}

.services-list__item:hover .item__link::before {
	background-color: #fff;
}

.services-list__item:hover .item__title {
	color: #fff;
}

.services-list__item:hover .icon {
	fill: #fff;
}

.item__link {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.item__title {
	display: flex;
	justify-content: center;
	width: 75%;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.35;
	text-align: center;
	color: #262626;
}

.item__link::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 298px;
	width: 1px;
	height: 100px;
	background-color: #9d9d9d;
}

.icon {
	width: 25%;
	height: 50px;
	padding-left: 23px;
}

.item__pic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.services-title {
	color: #fff;
	padding-bottom: 29px;
}



.blog {
	padding: 100px 0 120px;
	background-color: #b07cf7;
}

.blog__header {
	margin: 0 auto;
	max-width: 565px;
}

.blog__title {
	text-align: center;
	margin-bottom: 23px;
	color: #fff;
}

.blog__descr {
	margin-bottom: 44px;
	color: #fff;
}

.card__wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.card__img {
	box-shadow: 0px 4px 10px 0 #00000080;
}

.card__img img {
	width: 100%;
}

.card {
	width: calc(33.3333% - 20px);
	position: relative;
	transition: all .3s ease;
}

.gradient {
	width: 100%;
	height: 150px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(255, 255, 255, 0));
}

.card__date {
	position: absolute;
	left: -30px;
	top: -30px;
	transform: scale(0);
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	background-color: rgba(38, 38, 38, 0.5);
	padding: 8px;
	text-align: center;
	transition: all .6s ease;
	color: #fff;
}

.card__date--day {
	font-size: 32px;
	font-weight: 700;
	line-height: 17px;
}

.card__date--month {
	font-size: 21px;
	font-weight: 900;
	line-height: 17px;
	text-transform: uppercase;
}

.card__content {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 0 20px 23px;
	color: #fff;
}

.card__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: 17px;
}

.card__prop {
	font-size: 13px;
	font-weight: 300;
}

.link {
	text-align: center;
}

.link a {
	display: inline-block;
	box-shadow: 0px 2px 5px 0 #00000080;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	transition: all .3s ease;
	padding: 16px 44px;
}

.link-red a {
	background-color: #f72b3b;
	color: #fff;
}

.link-blue a {
	background-color: #f0f;
	color: #000;
}

.link a:hover {
	background-color: #cc1120;
	transform: scale(1.1);
}

.card:hover {
	transform: scale(1.05);
}

.card:hover .card__date {
	transform: scale(1) translate(60px, 60px);
	opacity: 1;
}

/* =====Секция контактов===== */

.contact {
	background: url('../images/imagesContact/bottom-bg.jpg') center / cover no-repeat;
	padding: 80px 0 49px;
}

.contact__header {
	margin-bottom: 40px;
	;
}

.contact__title {
	text-align: center;
	margin-bottom: 20px;
}

.contact__descr {
	max-width: 350px;
	margin: 0 auto;
}

.contact__wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.contact__form {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: start;
}

.form-item {
	width: 100%;
	max-width: 500px;
	background-color: rgba(0, 196, 196, .5);
	border: none;
	outline: none;
	border-left: 5px solid transparent;
	font-family: Raleway,sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 25px;
	color: #fff;
	padding-left: 16px;
	transition: all .2s ease;
}

.form-item::placeholder {
	font-family: Raleway,sans-serif;
	font-weight: 300;
	color: #fff;
}

.form-item.low {
	height: 50px;
	margin-bottom: 15px;
}

.form-item.message {
	resize: none;
	height: 250px;
	padding-top: 13px;
	margin-bottom: 15px;
}

.form-item:hover {
	border-color: #355b82;
	background-color: rgb(0, 196, 196);
}

.address {
	display: flex;
	width: 50%;
	justify-content: start;
	padding-left: 86px;
}

.list-item__title {
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 2px;
	margin-top: -4px;
}

.list-item__content {
	margin-bottom: 17px;
}

.list-item__link {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25;
	color: #262626;
}

.btn-blue {
	width: 230px;
	background-color: rgba(49, 140, 231, 0.5);
	padding: 0 20px;
	font-weight: 300;
}

.btn-blue:hover {
	background-color: rgba(32, 119, 206, 0.5);
}

/* =====Подвал===== */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #262626;
	height: 90px;
}

.container__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright,
.author {
	color: #b9b9b9;
	font-size: 16px;
}

.logo-white {
	text-align: center;

}

.red {
	color: #ff2b58;
	font-weight: 700;
}