* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	color: #9698AE;
	background-color: #fff;
	font-family: 'Noto Sans TC', Helvetica, sans-serif;
	font-size: 14px;
}

h1 {
	color:#fff;
	font-size: 45px;
	
}

h2 {
	color: #BB096B;
	font-size: 28px;
}

h3 {
	font-size: 14px;
	text-transform: uppercase;
	color: #BB096B;
}

.container {
	width: 90%;
	max-width: 1350px;
	margin: 0 auto;
}

.subcontainer {
	margin: 0 auto;
	width: 100%;
	max-width: 880px;
}

nav {
	position: relative;
	background-color: #BE0B6F;
	height: 44px;
}

.main_bg {
	position: relative;
	height: 260px;
	background-color: #000;
}

.head {
	position: absolute;
	left: 225px;
	top: 90px;
}

.menu {
	position: absolute;
	display: flex;
	justify-content: start;
	left: 225px;
	list-style: none;
}
.menu_item {
	display: inline-block;
	padding: 12px 30px;
	text-transform: uppercase;
	font-weight: 500;
	border-left: 1px solid #000;
}

.menu_item:hover {
	background-color: #770444;
}

.menu_item:last-child {
	border-right: 1px solid #000;
}

.menu_link {
	color: #fff;
}

.main_bg {
	background-image: url(../images/flower.jpg);
	background-repeat: no-repeat;
	background-position: 540px 0;
}

.descr a {
	color: #B10962;
	text-transform: uppercase;
	font-weight: 500;
}

main {
	display: flex;
}

.left_col {
	max-width: 400px;
}


.post {
	margin-top: 49px;
}
.post_note {
	margin-top: 8px;
	font-size: 8px;
	text-transform: uppercase;
}

.post_note a {
	color: #B10962;
}

.post_text {
	margin-top: 25px;
	font-size: 13px;
	line-height: 25px;
}

.post_list {
	margin-top: 25px;
	list-style-type: none;
}
.post_list__item {
	display: inline;
	margin-right: 20px;
	font-size: 13px;
}
.post_list__link {
	color: #B10962;
}

.tags {
	margin-top: 20px;
	margin-bottom: -30px;
	background-color: #F2F2F2;
	padding: 8px 0;
	
}

.tags p {
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: .6px;
}

.tags a {
	color: #B10962;
	font-weight: 700;
}

.in_col {
	margin-top: 35px;
	width: 250px;
	position: relative;
   left: 47px;
}

.in_col aside {
	background-color: #F2F2F2;
	padding: 15px;
	width: 255px;
}

.recent_item {
	margin-top: 20px;
	margin-bottom: 25px;
}
.recent_header {
	display: inline-block;
	padding: 0 15px;
	background-color: #B10962;
	color: #fff;
	font-size: 11px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}
.recent_text {
	margin-top: 18px;
	font-size: 12px;
	line-height: 20px;
}

.recent_text::after {
	content: "";
	display: block;
	height: 1px;
	width: 200px;
	background-color: #d9d6d8;
	margin-top: 20px;
}

.right_col {
	margin-top: 35px;
	margin-left: 40px;
	width: 250px;
	position: relative;
   left: 26px;
}

.right_col aside {
	padding: 15px;
	width: 229px;
}

.differ_list {
	margin-top: 15px;
	margin-bottom: 45px;
}
.differ_item {
	list-style-type: none;
}

.differ_item::before {
	content: "";
	display: inline-block;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: #B10962;
	transform: translate(-8px, -3px);
}

.differ_link {
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #B10962;
}

footer {
	height: 135px;
	background-color: #000;
	padding-top: 30px;
}

.copy {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
}

.copy a {
	display: inline-block;
	padding: 0 10px;
	background-color: #B10962;
	color: #fff;
	font-size: 10px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}