* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

html {
	background-color: #fff;
}

body {
	height: 95.6vh;
	margin: 20px;
	background-color: #3b3f45;
	font-family: 'Trebuchet', Arial, sans-serif;
	color: #f9f9f9;
}

/* ===Стили для шапки=== */

header {
	background-color: #4a4f56;
	height: 115px;
	text-align: center;
	padding-top: 25px;	
}

h1, h2 {
	color: #eb7e7f;
}

h1 {
	letter-spacing: 2px;
}

h2 {
	margin-top: 6px;
	font-weight: 300;
}

/* ===Стили для рабочего контейнера=== */

.container {
	margin: 0 auto;
	max-width: 800px;
	font-size: 26px;
}

/* ===Стили для списка=== */

.list {
	margin-top: 40px;
	list-style: none;
}

label {
	display: inline-block;
	width: 100%;
	height: 63px;
	background-color: #88839e;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
}

li:nth-child(even) label {
	background-color: #7a7593;
}

li label:hover {
	background-color: #625e77;
	border-color: #fff;
}
.list li label:active {
	background-color: #eb7e7f;
}

[type="checkbox"] {
	width: 25px;
	height: 25px;
	margin-left: 15px;
	margin-top: 16px;
	margin-right: 20px;
}

input:checked ~ span {
	color: #a3a0ad;
	text-decoration: line-through;
}

.text {
	vertical-align: 2px;
}

.low_text {
	color: #cdcbcb;
	font-size: 16px;
	vertical-align: 4px;
}

.low_text::before {
	content: '( ';
}

.low_text::after {
	content: ' )';
}
.smile {
	margin-top: 40px;
	height: 70px;
	background-color: #4a4f56;
	text-align: center;
	padding-top: 18px;
	color: #eb7e7f;
}

.smile span:after {
	content: ":)"
}