.choose {
  padding: 120px 0;
  background-color: #423936;
  background: url(../images/choose/choose-bg.jpg) left top/100% auto no-repeat;
}
.choose__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.choose__info {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.choose__title {
  margin-top: 86px;
  font-family: Aleo;
  font-weight: 400;
  font-size: 36px;
  line-height: 0.72;
  color: #fff;
  margin-bottom: 65px;
}
.choose__descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 1.6px;
  color: #e8e8e8;
}
.choose__descr :last-child {
  margin-bottom: 43px;
}
.choose p {
  letter-spacing: 1px;
  margin-bottom: 26px;
}
.choose__pic {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.choose__pic :first-child {
  margin-bottom: 3px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 7%;
}

.go {
  text-align: left;
}