@import 'reset';

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #e8e8e8;
}

.container {
	width: 90%;
	max-width: 1110px;
	margin: 0 auto;
}

.container-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@import "promo";

// =====Choose Us=====

@import 'choose';
.go__link {
	position: relative;
	background: rgb(71,107,254);
	background: -moz-linear-gradient(45deg, rgba(71,107,254,1) 37%, rgba(83,117,253,1) 37%);
	background: -webkit-linear-gradient(45deg, rgba(71,107,254,1) 37%, rgba(83,117,253,1) 37%);
	background: linear-gradient(45deg, rgba(71,107,254,1) 37%, rgba(83,117,253,1) 37%);
	line-height: 60px;
	font-family: Aleo;
	font-size: 16px;
	letter-spacing: 1.2px;
	color: #fff;
	text-transform: uppercase;
	transition: all .2s  ease;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: -5px;
		width: 100%;
		height: 2px;
		transform: scale(0);
		background-color: #fff;
		transition: all .3s ease;
	}
	&:hover {
		background: rgb(83,117,253);
		background: -moz-linear-gradient(45deg, rgba(83,117,253,1) 37%, rgba(71,107,254,1) 37%);
		background: -webkit-linear-gradient(45deg, rgba(83,117,253,1) 37%, rgba(71,107,254,1) 37%);
		background: linear-gradient(45deg, rgba(83,117,253,1) 37%, rgba(71,107,254,1) 37%);
		&::before {
			transform: scale(1);
		}
	}
	&--explore {
		padding: 20px 38px;
	}
}

// =====Steps=====
@import 'steps';

// =====Hotel=====
@import 'hotel';

// =====Ocean=====

@import 'ocean';

// =====Review=====

@import 'review';

 // =====Footer=====

@import "footer";