* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #e8e8e8;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.unvisible {
  display: none;
}

.promo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.promo {
  padding: 292px 0 0;
  background-color: #0074BE;
  background: url(../images/promo/promo-bg.jpg) left top/cover no-repeat;
}
.promo__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 650px;
}
.promo__title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
.promo__subtitle {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 6px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 47px;
}
.promo__form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 115px;
}
.promo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 2px solid #fff;
}
.promo__search {
  width: 76.92%;
  height: 56px;
  padding: 0 20px;
  border: none;
  border-color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  color: #999;
}
.promo__scroll {
  position: relative;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  margin-bottom: 150px;
}
.promo__scroll::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: 43%;
  top: 26px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.btn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8px 0 28px;
  width: calc(100% - 76.92%);
  background-color: #5375FD;
  font-family: Aleo;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 3px;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn-search:hover {
  background-color: #fff;
  color: #5375FD;
  font-weight: 700;
  border-color: #5375FD;
}
.btn-search:hover .icon-search-btn {
  fill: #5375fd;
}

.icon-search-btn {
  fill: white;
  width: 20px;
  height: 22px;
}

.header {
  width: 100%;
  display: flex;
  background-color: #5375FD;
  height: 80px;
  transition: all 0.2s ease;
}
.header__logo-link {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.fixed {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  backdrop-filter: blur(3px);
  z-index: 100;
  background-color: rgba(83, 117, 253, 0.8);
}

.menu__item {
  display: inline-block;
  margin-left: 42px;
}
.menu__link {
  position: relative;
  font-family: "Aleo";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 80px;
}
.menu ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: -5px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu :hover::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.btn-search {
  width: 23%;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #5375FD;
}
.main-menu__item {
  display: inline-block;
}

@media screen and (max-width: 690px) {
  .btn-search {
    justify-content: center;
    font-size: 0;
    padding: 0;
  }

  .icon-search-btn {
    width: 40px;
    height: 44px;
  }
}
@media screen and (max-width: 440px) {
  .promo__search {
    font-size: 18px;
  }
  .promo__search::placeholder {
    font-size: 0;
  }
}
@media screen and (max-width: 370px) {
  .promo__title {
    font-size: 40px;
  }

  .promo__subtitle {
    font-size: 18px;
  }
}
.choose {
  padding: 120px 0;
  background-color: #423936;
  background: url(../images/choose/choose-bg.jpg) left top/cover no-repeat;
}
.choose__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.choose__info {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.choose__title {
  margin-top: 86px;
  font-family: Aleo;
  font-weight: 400;
  font-size: 36px;
  line-height: 0.72;
  color: #fff;
  margin-bottom: 65px;
}
.choose__descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 1.6px;
  color: #e8e8e8;
}
.choose__descr :last-child {
  margin-bottom: 43px;
}
.choose p {
  letter-spacing: 1px;
  margin-bottom: 26px;
}
.choose__pic {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.choose__pic :first-child {
  margin-bottom: 3px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 7%;
}

.pic-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.go {
  text-align: left;
}

@media screen and (max-width: 932px) {
  .choose__wrap {
    flex-direction: column;
  }

  .choose__title {
    margin-top: 0;
  }

  .choose__info,
.choose__pic {
    width: 100%;
  }

  .choose__pic {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  .choose__pic :first-child {
    padding: 0;
    margin: 0 15px 0 0;
  }

  .pic__box {
    padding: 0;
  }
}
@media screen and (max-width: 510px) {
  .choose__wrap,
.go {
    text-align: center;
  }

  .choose__pic {
    flex-direction: column;
    width: 100%;
  }
  .choose__pic :first-child {
    margin-bottom: 3px;
  }
  .choose__pic .pic__box {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .choose {
    padding: 50px 0;
  }
}
.go__link {
  position: relative;
  background: #476bfe;
  background: -o-linear-gradient(45deg, #476bfe 37%, #5375fd 37%);
  background: linear-gradient(45deg, #476bfe 37%, #5375fd 37%);
  line-height: 60px;
  font-family: Aleo;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.go__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.go__link:hover {
  background: #5375fd;
  background: -o-linear-gradient(45deg, #5375fd 37%, #476bfe 37%);
  background: linear-gradient(45deg, #5375fd 37%, #476bfe 37%);
}
.go__link:hover::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.go__link--explore {
  padding: 20px 38px;
}

.steps {
  background-color: #303030;
  padding: 96px 0 120px;
}
.steps__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.steps__title {
  font-family: Aleo;
  font-size: 36px;
  line-height: 0.72;
  text-align: center;
  color: #e8e8e8;
}
.steps__item {
  width: 33.333%;
}

.item .icon-search {
  width: 58px;
  height: 57px;
  margin-bottom: 35px;
}
.item:first-child {
  padding-left: 70px;
}
.item:last-child {
  padding-right: 66px;
}
.item .icon-check {
  width: 60px;
  height: 61px;
  margin-bottom: 30px;
}
.item .icon-hand {
  width: 62px;
  height: 59px;
  margin-bottom: 34px;
}

.item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 970px) {
  .steps {
    padding: 60px 0;
  }

  .steps__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 800px) {
  .steps__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 680px) {
  .steps__list {
    flex-direction: column;
    align-items: center;
  }

  .steps__item {
    width: 100%;
    margin-bottom: 74px;
  }

  .item:first-child,
.item:last-child {
    padding: 0;
  }
}
.inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hotel {
  background: url(../images/hotel/hotel-bg.jpg) left top/cover no-repeat;
  padding: 230px 0 100px;
}
.hotel__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 30px 50px 30px;
  width: calc(50% - 15px);
  background-color: rgba(35, 35, 35, 0.9);
}
.hotel__subtitle {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: left;
  color: #e8e8e8;
  margin-bottom: 26px;
}
.hotel__title {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
  color: #fff;
  margin-bottom: 18px;
  letter-spacing: -0.5px;
}
.hotel__descr {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  text-align: left;
  color: #e8e8e8;
  margin-bottom: 42px;
}

.go__link--book-hotel {
  padding: 20px 62px;
}

@media screen and (max-width: 690px) {
  .hotel__info {
    width: 100%;
  }

  .hotel {
    padding: 100px 0;
  }
}
.ocean {
  background: url(../images/ocean/ocean-bg.jpg) left top/cover no-repeat;
  padding: 230px 0 100px;
}
.ocean .inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.ocean__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 30px 50px 30px;
  width: calc(50% - 15px);
  background-color: rgba(35, 35, 35, 0.9);
}
.ocean__subtitle {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: left;
  color: #e8e8e8;
  margin-bottom: 26px;
}
.ocean__title {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: left;
  color: #fff;
  margin-bottom: 18px;
  letter-spacing: -0.5px;
}
.ocean__descr {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  text-align: left;
  color: #e8e8e8;
  margin-bottom: 42px;
}

@media screen and (max-width: 690px) {
  .ocean__info {
    width: 100%;
  }

  .ocean {
    padding: 100px 0;
  }
}
.review {
  background-color: #272929;
  background: url(../images/tourist/tourist-bg.jpg) left top/cover no-repeat;
  padding: 120px 0 200px;
}
.review__title {
  font-family: Aleo;
  font-weight: 400;
  font-size: 36px;
  line-height: 0.72;
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}
.review__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.review__pic {
  width: 40%;
}
.review__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.review__sample {
  background-color: #333;
  padding: 50px 30px 30px 60px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.review__name {
  font-size: 20px;
  color: #fefefe;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 42px;
}
.review__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  color: #e8e8e8;
  letter-spacing: -0.5px;
}
.review__text .icon-quote-left {
  position: relative;
  bottom: 13px;
  color: #5375FD;
  font-size: 20px;
  padding-left: 3px;
  padding-right: 10px;
}

@media screen and (max-width: 660px) {
  .review__box {
    flex-direction: column;
  }

  .review__pic,
.review__sample {
    width: 100%;
  }

  .review__sample {
    padding: 50px 15px;
  }
}
@media screen and (max-width: 400px) {
  .review {
    padding: 50px 0;
  }
  .review__title {
    font-size: 28px;
    margin-bottom: 50px;
  }
}
.footer {
  padding: 120px 0 52px;
  background-color: #1E1E1E;
  text-align: center;
}
.footer__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  margin-bottom: 7px;
  letter-spacing: 2.4px;
}
.footer__logo {
  color: #fff;
}
.footer__inner {
  width: 170px;
  margin: 0 auto;
}
.footer__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  letter-spacing: 0.6px;
  margin-bottom: 24px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-item span {
  color: #fff;
}
.social-item span:hover {
  color: #5375FD;
}

@media screen and (max-width: 730px) {
  .footer {
    padding: 50px 0;
  }
}