@import 'reset';

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #e8e8e8;
}

.container {
	width: 90%;
	max-width: 1110px;
	margin: 0 auto;
}

.promo {
	padding: 280px 0 0;
	background-color: #0074BE;
	background: url(../images/promo/promo-bg.jpg) center center/cover no-repeat;
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 0.54;
		letter-spacing: 3px;
		text-align: center;
		color: #fff;
		margin-bottom: 15px;
	}
	&__subtitle {
		font-size: 22px;
		line-height: 1.18;
		letter-spacing: 6.82px;
		text-align: center;
		color: #fff;
		margin-bottom: 50px;
	}
	&__search {
		width: 500px;
	}
	&__scroll {
		margin-bottom: 158px;
	}
}

.form-flex {
	display: flex;
	max-width: 650px;
	margin-bottom: 120px;
}

.btn-search {
	width: 150px;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	background-color: #5375FD;
	&__item {
		display: inline-block;
	}
}