* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Georgia, serif;
	font-size: 27px;
	color: #000;
	background-color: #464f54;
}

header {
	position: absolute;
	top: 48px;
	right: 0;
	height: 263px;
	width: 64.5%;
	min-width: 320px;
	background-color: transparent;
}

label {
	display: block;
	padding-top: 46px;
	padding-left: 63px;
	font-family: 'Proxima Nova';
	font-size: 15px;
	letter-spacing: 4.8px;
	color: #767676;
	text-transform: uppercase;
}

.page {
	padding-top: 150px;
}

.title_input {
	background-color: #181818;
	height: 187px;
}

#title {
	height: 54px;
	width: 816px;
	margin-left: 60px;
	font-size: 48px;
	font-family: 'Playfair Display';
	padding-bottom: 41px;
	padding-top: 28px;
	text-align: left;
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.control_bar {
	position: relative;
	left: 65px;
	height: 76px;
	width: calc(100% - 65px);
	background-color: #fbc02d;
	padding: 16px;
}

.tool_list {
	display: flex;
	justify-content: start;
	align-items: center;
	list-style: none;
	padding-top: 2px;

}

.tool_list li {
	display: inline-block;
	padding-left: 22px;

}

.icon_wrap {
	outline: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: all .1s ease;
	font-size: 36px;
	color: #fff;
	opacity: 0.5;
}

.icon_wrap:hover {
	opacity: 1;
}

.icon {
	display: inline-block;
	width: 38px;
	height: 38px;
}

.icon-format_align_center:before {
	content: "\e900";
}

 .icon-format_align_justify:before {
	content: "\e901";
}
 .icon-format_align_left:before {
	content: "\e902";
}
 .icon-format_align_right:before {
	content: "\e903";
}
 .icon-format_bold:before {
	content: "\e904";
}
 .icon-format_color_text:before {
	content: "\e905";
}
 .icon-format_italic:before {
	content: "\e906";
}
 
 .icon-format_size:before {
	content: "\e907";
}
 .icon-format_underlined:before {
	content: "\e908";
}

 .icon-insert_photo:before {
	content: "\e909";
}

 /* =======подключаю тестово иконочные шрифты======= */

 [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
 
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }

 /* =======конец вставленного фрагмента====== */

.container {
	position: relative;
	margin: 0 auto;
	width: 90%;
	max-width: 1060px;
	background-color: #fff;
	box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.line {
	position: absolute;
	left: 66px;
	width: 2px;
	height: 100%;
	background-color: #e8eced;
}

.content {
	padding: 199px 123px 10px;
}
.author {
	font-family: 'Proxima Nova';
	font-size: 20px;
	letter-spacing: 4.38px;
	text-align: left;
	color: #b4b4b4;
	text-transform: uppercase;
	margin-bottom: 33px;
}

.main_title {
	font-family: Futura;
	font-size: 78px;
	font-weight: 900;
	line-height: 0.94;
	letter-spacing: 4.13px;
	text-align: left;
	color: #2a2a2a;
	text-transform: uppercase;
	margin-bottom: -6px;
}

.subtitle {
	font-family: Georgia;
	font-size: 30px;
	font-style: italic;
	line-height: 2.08;
	text-align: justify;
	color: #8f8f8f;
	margin-bottom: 33px;
}

.content p {
	font-size: 27px;
	line-height: 1.5;
	color: #000000;
	margin-bottom: 22px;
	letter-spacing: -.07px;
}

.content span {
	font-style: italic;
}