* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans', sans-serif;
	background-color: #fff;
	color: #777;
	font-size: 14px;
}

header {
	text-align: center;
}

.list  {
	list-style: none;
}

.content {
	padding: 155px 0 150px;
}

.pre_title {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 700;
	line-height: 2.5;
	letter-spacing: 3.3px;
	text-transform: uppercase;
	color: #898f99;
	margin-bottom: 13px;
}

h2 {
	font-family: 'Montserrat';
	font-size: 48px;
	font-weight: 600;
	color: #0ec8cb;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 24px;
}

.descr {
	margin: 0 auto 100px;
	width: 514px;
	font-family: 'PT Sans';
	font-size: 18px;
	line-height: 1.67;
	color: #999999;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 940px;	
}

.list {
	font-size: 0;
	border: 1px solid #ececec;
	border-right: none;
}

.list_item {
	color: #1b1b1b;
	display: inline-block;
	width: 25%;
	background-color: #f7f7f7;
	padding: 55px 30px 90px;
	border-right: 1px solid #ececec;
}

.list_item:hover {
	background-color: #0ec8cb;
	color: #fff;
	transition: all .2s ease ;
}

.icon_wrap {
	text-align: center;
}

.icon {
	display: inline-block;
	width: 70px;
	height: 66px;
	background-image: url('../images/sprite.png');
	background-repeat: no-repeat;
}

.list_title {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.list_title__diamond {
	display: table;
	width: 100%;
	margin-bottom: 12px;
	margin-top: 12px;
}

.list_title__diamond h3 {
	display: table-row;
	margin-bottom: 10px;
}

.list_text {
	font-size: 14px;
	text-align: center;
	line-height: 1.58;
	word-break: break-all;
}

.icon_anchor {
	background-position: 3px -180px;
	margin-bottom: 48px;
}

.list_item:hover .icon_anchor {
	background-position: 3px 0;
}

.list_item:hover .icon_diamond {
	background-position: -234px 0;
}

.list_item:hover .icon_glasses {
	background-position: -466px 0;
}

.list_item:hover .icon_monitor {
	background-position: -702px 0;
}

.icon_diamond {
	background-position: -234px -180px;
	margin-bottom: 23px;
}

.icon_glasses {
	background-position: -466px -180px;
	margin-bottom: 48px;
}

.icon_monitor {
	background-position: -702px -180px;
	margin-bottom: 48px;
}

