* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color:#1D1C1C;
	color: #fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	line-height: 24px;
}

img {
	vertical-align: top;
	padding: 0;
}


.container {
	max-width: 1170px;
	width: 90%;
	margin: 0 auto;
}

#features {
	padding: 108px 0 105px;
}

#features_list {
	list-style: none;
}

#features_list li {
	display: inline-block;
	width: 33.3333%;
	margin: 0 -2px;
	padding: 0 20px;
	text-align: center;
}


.icon_wrap {
	width: 80px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	background-color: #ffae00;
	border-radius: 20px 0;
	line-height: 80px;
	margin-bottom: 42px;
}

.icon_wrap img {
	vertical-align: middle;
}

#features_list li h3 {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

#features_list li p {
	margin-left: -5px;
}

footer {
	background-color: #121116;
}

.logo {
	text-align: center;
	padding-top: 120px;
	margin-bottom: 46px;
}

.social {
	text-align: center;
}

.social_text {
	display: inline-block;
	font-size: 22px;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	padding: 0 26px 16px 38px;
	margin-bottom: 20px;
}

.social_list  li {
	display: inline-block;
	padding: 0px 13px;
}
	
.copy {
	text-align: center;
	margin-top: 73px;
	font-size: 16px;
	padding: 0 0 38px 16px;
}

.copy a {
	color: #00c7fc;
	text-decoration: none;
}