@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
 }
 @font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
 }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 300;
	background-color: #fff;
	color: #9d9d9d;
	font-size: 14px;		
	line-height: 24px;
}

span {
	transition: all .2s ease ;
}

p {
	line-height: 20px;
	letter-spacing: 0.4px;
}

h3 {
	font-family: 'ProximaNova';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	margin-bottom: 10px;
}

.container {
	max-width: 964px;
	width: 90%;
	margin: 0 auto;
}

.services {
	padding: 56px 0 66px;
}

.services_list {
	list-style: none;
	text-align: center;
}

.services_list li {
	display: inline-block;
	width: 33.3333%;
	margin: 0 -2px;
	padding: 0 40px
}

.icon {
	display: inline-block;
	width: 63px;
	height: 63px;
	border-radius: 50%;
	border: 1px solid #1275b9;
	background-color: #1275b9;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	margin-bottom: 7px;
}

.icon:hover {
	background-color: #fff;
}

.icon_tablet {
	background-position: 19px 14px;
}

.icon_tablet:hover {
	background-position: 19px -95px;
}

.icon_settings {
	background-position: -121px 14px;;
}

.icon_settings:hover {
	background-position: -122px -95px;
}

.icon_dashboard {
	background-position: -271px 14px;
}

.icon_dashboard:hover {
	background-position: -271px -95px;
}