* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	color: #190039;
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.header_top {
	background-color: #000;
}

.container {
	margin: 0 auto;
	max-width: 1015px;
}

.promo {
	height: 125px;
	background: url('../images/banner.jpg') right top;
	padding-left: 13px;
	padding-top: 44px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

h1 {
	font-size: 33px;
	color: #fff;
}

.header_bottom {
	background: -moz-linear-gradient(90deg, #8bab0a 0%, #b0e010 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0e010), color-stop(100%, #8bab0a)); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, #8bab0a 0%, #b0e010 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, #8bab0a 0%, #b0e010 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, #8bab0a 0%, #b0e010 100%); /* ie10+ */
	background: linear-gradient(0deg, #8bab0a 0%, #b0e010 100%); /* w3c */
}

a {
	text-decoration: none;
	color: #306807
}

nav {
	border-left: 1px solid #98bf02;
	border-right: 1px solid #98bf02;
}

nav ul {
	list-style-type: none;

}

nav li {
	display: inline-block;
}

nav a {
	color: #fdfff5;
	padding: 6px 17px;
	line-height: 28px;
	border-right: 1px solid #98bf02;
}

nav a:hover {
	background-color: #7d9c03;
}

.sub_container {
	margin: 0 auto;
	background-color: #fff;
	padding: 25px 14px 0;
	max-width: 1015px;
	padding-bottom: 33px;
}

h2 {
	font-size: 21px;
	color: #5E6B62;
	margin:18px 0;
	border-bottom: 1px solid #8eaf0a;
}

.subheader_list {
	margin-top: 16px;
	margin-left: 42px;
	line-height: 21px;
}

p {
	margin:14px 0 0 14px;
	line-height: 21px;
}

.footer {
	margin: 0 auto;
	max-width: 1015px;
	background: -moz-linear-gradient(90deg, #8bab0a 0%, #b0e010 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b0e010), color-stop(100%, #8bab0a)); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, #8bab0a 0%, #b0e010 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, #8bab0a 0%, #b0e010 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, #8bab0a 0%, #b0e010 100%); /* ie10+ */
	background: linear-gradient(0deg, #8bab0a 0%, #b0e010 100%); /* w3c */
	text-align: right;
	padding-right: 18px;
}

.footer span {
	color: #fdfff5;
	line-height: 28px;
	letter-spacing: 3px;
}

