* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #e2e7ec;
	font-family: 'Hans Kendrick', sans-serif;
	color: #1d1d1d;
	font-size: 22px;
}

img {
	vertical-align: top;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 91px;
	margin-bottom: 111px;
	justify-content: space-between;
	width: 90%;
	max-width: 1120px;
}

.card_wrap {
	position: relative;
	width: calc(1120px / 3 - 40px / 3);
	background-color: #fff;
	margin-bottom: 20px;
	padding-bottom: 78px;
}

.card_wrap__2 {
	width: calc(1120px / 3 * 2 - 20px / 3);
	position: relative;
	background: url('../images/main_bg.jpg') center center/cover no-repeat;
}

.firstcard_text {
	position: absolute;
	left:43px;
	bottom: 34px;
	width: 65%;
}

.firstcard_text h2 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
}

.image_wrap {
	margin-bottom: 19px;
}

.card_wrap .text_date {
	color:  #818181;
	font-size: 13px;
	line-height: 2.31;
	text-align: left;
	color: #818181;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.text_wrap {
	padding: 0 27px;
}

.card_text {
	font-family: 'Hans Kendrick', sans-serif;
	color: #1d1d1d;
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 66px;
}

.round {
	position: absolute;
	left: 27px;
	bottom: 23px;
}

.bottom {
	font-size: 12px;
	color: #8996a3;
	text-align: center;
	padding-bottom: 84px;
	margin-top: -52px;
}

.bottom img {
	margin-right: 10px;
	width: 30px;
	vertical-align: -10px;
}